<a href="https://colab.research.google.com/github/sweeeet-zoo/sparta5/blob/main/Pandas/%5B%EA%B0%9C%EC%9D%B8%EA%B3%BC%EC%A0%9C%5D_Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic')

### 최종 풀이

In [ ]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic')

cond1 = (df.age >= 20) & (df.age <40)
cond2 = (df.pclass == 1) | (df.pclass == 2)

df2 = df.loc[cond1 & cond2, ['survived', 'pclass', 'age', 'fare']]
df2.head(10)

    survived  pclass   age     fare
1          1       1  38.0  71.2833
3          1       1  35.0  53.1000
20         0       2  35.0  26.0000
21         1       2  34.0  13.0000
23         1       1  28.0  35.5000
30         0       1  40.0  27.7208
34         0       1  28.0  82.1708
41         0       2  27.0  21.0000
53         1       2  29.0  26.0000
56         1       2  21.0  10.5000

### 풀이 과정

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# 컬럼 별 info 확인
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
# 조건1 = 나이가 20살 이상 40살 미만인 승객
cond1 = (df.age >= 20) & (df.age <40)
df.loc[cond1]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# 조건2 = pclass가 1등급 혹은 2등급인 승객
cond2 = (df.pclass == 1) | (df.pclass == 2)
df.loc[cond2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
# 조건1과 조건2의 조합
# 조회 열: survived, pclass, age, fare
# 행 10개
df.loc[cond1 & cond2, ['survived', 'pclass', 'age', 'fare']][:10]

    survived  pclass   age     fare
1          1       1  38.0  71.2833
3          1       1  35.0  53.1000
20         0       2  35.0  26.0000
21         1       2  34.0  13.0000
23         1       1  28.0  35.5000
30         0       1  40.0  27.7208
34         0       1  28.0  82.1708
41         0       2  27.0  21.0000
53         1       2  29.0  26.0000
56         1       2  21.0  10.5000

In [ ]:
df2 = df.loc[cond1 & cond2, ['survived', 'pclass', 'age', 'fare']]
df2.head(10)

    survived  pclass   age     fare
1          1       1  38.0  71.2833
3          1       1  35.0  53.1000
20         0       2  35.0  26.0000
21         1       2  34.0  13.0000
23         1       1  28.0  35.5000
30         0       1  40.0  27.7208
34         0       1  28.0  82.1708
41         0       2  27.0  21.0000
53         1       2  29.0  26.0000
56         1       2  21.0  10.5000